* {
    box-sizing: border-box;
}
/* Typography */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
    line-height: 1.6;
    color: rgb(246, 255, 248);
    background-color: #0E1C36;
}
p, h2, ul {
    margin: 0;
}

h2 {
    margin-bottom: .8em;
}

a {
    color: #43AA8B;
}

form {
    text-align: left;
}

li {
    list-style: none;
}
/* --------------Layout -----------------*/
/* Nav */
nav {
    background-color: #0E1C36;
    padding: 1em;
}
.nav-item a{
    text-decoration: none;
    color: rgb(234, 244, 244);
    text-transform: capitalize;
    letter-spacing: 1px;
}
.nav-item a:hover, .nav-item a:focus {
    text-decoration: underline;
    color: #43AA8B;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#dark-mode:hover {
    cursor: pointer;
    color: #43AA8B;
    transition: 1s;
}
/* Blog */
#blog, #about, #contact {
    background-color: #0E1C36;
}

/* portfolio */
.portfolio {
    padding: 2em 0;
    background-color: #B48B7D;
}

.portfolio-link {
    margin: 0;
}

.portfolio-img {
    max-width: 100%;
    width: 250px;
    height: 300px;
    object-fit: contain;
}

.portfolio-item h3 {
    letter-spacing: 1px;
}

.portfolio-link:hover, .portfolio-link:focus {
    font-size: 1.1rem;
    background-color: #0E1C36;
    box-shadow: 3px 5px 5px #EAF4F4;
    transition: .5s;
}

/* footer  */
.created-by {
    padding: 1em;
}

/* general */

.portfolio-link {
    margin-right: .5em;
    padding: 1em;
    border-radius: 1em;
    background-color: #EAF4F4;
}

h2 {
    margin-bottom: 2em 0;
}

h3{ 
    margin-top: 2em;
}

h2 {
    padding-top: 0;
}

img {
    max-width: 100%;
    /* width: 250px; */
    /* border-radius: 50%; */
    margin: 1em 0;
}

.container {
    max-width: 350px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}
.flex-column {
    flex-direction: column;
}



.input {
    width: 75%;
    border-radius: 5px;
}

textarea {
    resize: none;
}

html {
    scroll-behavior: smooth;
}

.dark-mode {
    background: #0E1C36;
    color: #EAF4F4;
}

@media (min-width: 1000px) {
    /* general */
    .container {
        width: 60%;
        max-width: 950px;
    }

    img {
        max-width: 100%;
        width: 50%;
    }
    /* layout */
    /* nav */
    .nav {
        justify-content: space-between;
        padding: 0;
    }
    /* General */
    .grid {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr 1fr;
}
}
